@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    
}
nav{
    display: flex;
    padding: 50px;
}
nav img{
    height: 20px;
}
.nav-links{
    margin-left:auto;
}
.nav-links a{
    margin-left: 30px;
    text-decoration: none;
    color: #000;
}
.nav-links a:nth-child(1){
    color: #FF6C11;
    ;
}
.nav-links a:nth-child(4){
    color: white;
    background-color: #E7332B;
    padding: 20px;
    border-radius: 10px;
}
.bg-grey{
    background-color:#e9e6e6;
}
.section-one{
    padding: 20px;
    width: 60%;
    float: left;
}
.section-one h1{
    font-size: 53px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    line-height: 80px; 
}

.section-one p{
    padding: 20px;
    letter-spacing: 2px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.buttons{
    padding: 20px;
}
.buttons button:nth-child(1){
    background-color:#E7332B ;
    color: #fff;
    margin-right: 8px;
    border:1px solid #E7332B;
    padding: 20px;
    padding-right: 40px;
    border-radius: 10px;
}
.buttons button:nth-child(2){
    background-color:white ;
    border:1px solid #E7332B;
    padding: 20px;
    padding-right: 40px;
    border-radius: 10px;
}
.aside img{
    margin-top: 90px;
}
.relative{
    position: relative;
    left: 250px;
    top: 15px;
    background-color: white;
    height: 40px;
    width: 813px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 1px 1px gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.relative img{
    height: 30px;
}
.relative h3{
    padding: 50px;
    color: gray;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}
form{
    float: right;
    width: 49%;
    height: 350px;
    padding: 30px;

}
form h1{
    padding: 20px;
    font-size: 40px;
    text-align: center;

}
.bg-started{
    background-color: white;
}
section img{
        height: 690px;
        width: 50%;
    
}
form p{
    padding: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4444443881511688px;
    text-align: center;

}
label {
    display: block;
    padding-top: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #F2F4F5;
    border: none;
}
button[type="submit"]{
    background-color:#E7332B ;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: #E7332B;
    color: #fff;
}
.section-two-text{
    padding: 50px;
}
.section-two-img img{
    position: relative;
    top: 90px;
    float: right;
    width: 30%;
    padding: 40px;
    height: 300px;
    margin-top: 100px;
    margin-right: 20px;
    
}
.aside-two img{
    float: right;
    height: 300px;
    width: 400px;
    padding: 10px;
    margin: 60px;
}
footer{
    background-color:#E7332B ;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.footer-menu ul,
.footer-media ul,
.footer-sign ul{
    list-style-type: none;
}
.footer-menu ul li,
.footer-media ul li,
.footer-sign ul li{
    padding-top: 10px;
}
/* MEDIA QUERIES
for smaller devices like phones */
@media only screen and (max-width: 768px){
    nav {
        display: flex;
        
        padding: 10px 0;
    }
    nav img{
        padding-left: 5px;
    }
    .nav-links a{
        font-size: 8px;
        margin-left: 5px;
    }
    .nav-links a:nth-child(4) {
        padding: 5px;
        border-radius: 5px;
    }
    .relative{
        display: none;
    }
    .section-one{
        width: 100%;
    }
    .section-one h1{
        font-size: 35px;
        line-height: 40px; 
    }
    .section-one p {
        padding: 20px;
        letter-spacing: 2px;
        font-family: Montserrat;
        font-size: 15px;
        letter-spacing: 0em;
    }
    .buttons button:nth-child(1),
    .buttons button:nth-child(2){
        padding: 10px;
        margin-right: 1px;
        font-size: 10px;
}
.aside img {
    height: 250px;
    width: 100%;
    border: 0;
    margin-top: 1px;
    
}
.section-two-img img{
    display: none;
}
section img {
    height: 200px;
    width: 100%
}
form{
        width: 100%;
        height: 300px;
        padding: 30px;
}
form h1 {
    padding: 1px;
    font-size: 30px;
}
footer {
    display: flex;
    position: relative;
    top: 350px;
    color: white;
    width: 100%;
}
footer logo{display: none;}